.AddVacation {
    margin-top: 10px;
}

.AddVacation>form {
    width: 300px;
    margin: auto;
    padding-top: 10px;
    box-shadow: 3px 6px 6px 3px;
    border-radius: 20px;
    background-color: white;
}

form>.AddVacationHeader {
    font-weight: bold;
    color: #3366FF;
}

form>.AddVacationIcon {
    margin-right: 10px;
    margin-top: 10px;
}

form>.AddVacationButton {
    border: 1px solid;
    border-radius: 10px;
}

form>.ErrorText {
    text-align: center;
}

.NoShrinkLabel .MultiInputLabel-shrink {
    transform: none;
}

.UploadedImage  {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.AddVacation>.LinkToVacationsAdmin {
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    margin: 5px 0 0 5px;
}