@font-face {
    font-family: "header";
    src: url("../../../Assets/Fonts/BebasNeue-Regular.ttf");
}

.Header>h1 {
    font-size: 50px;
    font-family: "header", cursive;
    font-style: oblique;
    color: #3366FF;
    margin-bottom: 20px;
}

.Header>.LinkToVacationsAdmin .LinkToVacations {
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    margin: 5px 0 0 5px;
}