.VacationCard {
    max-width: 250px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px;
    background-color: aqua;
}

.ImageCard {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}