.VacationReports>.DownloadButton {
    background-color: cornflowerblue;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 5px 10px;
}

.DownloadButton:hover {
    box-shadow: 6px 6px 6px;
}

.VacationReports>.LinkToVacationsAdmin {
    position: absolute;
    top: 0;
    left: 0;
    font-size: large;
    margin: 5px 0 0 5px;
}